[Record]
read_weight_path: pretrained_models/model_8597_best.weight

[Params] 
lr: 0.001

batch: 1

w_pose: 1
w_laplace: 100
w_color: 0.0
w_w_weights_l1: 0.0


augment_data: 0

start_iter: 0
end_iter: 1000001
save_weight_iter: 5000
save_tmp_iter: 1000
evaluate_iter: 1000

residual_rate: 0.9

conv_max: 0

perpoint_bias: 1

minus_smoothed: 0

template_ply_fn: ./data/meshconv_data/template.ply

template_obj_fn: ./data/meshconv_data/template.obj

mesh_train: track/final_
recon_train: meshes/plys/
calib_path: testMC/calib.txt

point_num: 5023

pcs_train: testMC/train_with_weights.npy

pcs_evaluate: testMC/eval_with_weights.npy

pcs_mean: 


connection_folder:  ./data/meshconv_data/ConnectionMatrices/

connection_layer_lst_enc: ["pool1", "pool2", "pool3", "pool4", "pool5", "pool6", "pool7"]
channel_lst_enc:          [32 ,      64,      128,     256,      512,     1024,     64]
weight_num_lst_enc:       [17,      17,      17,      17,      17,      17,      17]


connection_layer_lst_dec: ["unpool7", "unpool6", "unpool5", "unpool4", "unpool3", "unpool2", "unpool1"]
channel_lst_dec:          [64,        1024,       512,       256,     128,       64,        32,        6]
weight_num_lst_dec:       [17,      17,        17,        17,       17,    17,    17,     17]


initial_connection_fn: ./data/meshconv_data/ConnectionMatrices/_pool0.npy


